<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Itim&family=Kalam:wght@700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Courier+Prime&family=Itim&family=Kalam:wght@700&display=swap" rel="stylesheet">
<title>JOB-APPLICATION-FORM</title>
</head>
<style>
    table {
        border-style: solid;
        width: fit-content;
        border-color: black;
        height: 100%;
        width: 100%;
        background-color:#D7E9B9;
        
    }

input{
    font-size: 0.4cm;
    font-family: 'Courier Prime', monospace;
    font-weight: 580;

}
    td {
        align-content: center;
        width: 0cm;
    }

    tr {
        align-content: center;
        width: 5cm;
    }

    #rst {
        margin-right: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #submit {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 10px;
    }

    .bold {
        color: red;
        font-family: "georgia", Times, serif;
        font-weight: 500;

    }

    #txtarea {
        height: -webkit-fill-available;
        width: -webkit-fill-available;

    }

    .width {
        height: -webkit-fill-available;
        width: -webkit-fill-available;
        border: 1cm;
        background-color: rgb(220, 236, 243);

    }

    h3 {
        color: #DC0000;
    }
    body{
       background-color: #F5F5F5;
    }
    
</style>
<body>
    <center>
        <form action="/" method="post" >
            <fieldset>
                <table border="2" style="background-color:#D7E9B9;">
                    <tr>
                        <td colspan="8" align="center">
                            <h1 style="font-family: 'Itim', cursive;
                            font-family: 'Kalam', cursive; ">JOB-APPLICATION-FORM</h1>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="8">
                            <h3 style="font-family: Cursive; ">➺ Basic Details</h3>
                        </td>
                    </tr>
                    <tr>
                        <td><label>First Name:</label></td>
                        <td><input type="text" name="fname" class="width"> </td>
                        <td><label>Last Name:</label></td>
                        <td><input type="text" name="lname" class="width"> </td>

                        <td><label>Address:</label></td>
                        <td><input type="text" name="address" class="width"> </td>
                        <td><label> State:</label></td>
                        <td><select id="state" name="state">
                            <% for ( var i=0; i<states.length; i++) { %>
                                <option value="<%=states[i].option_name%>" name="<%=states[i].option_name%>" id="<%=states[i].option_name%>"> <%=states[i].option_name%></option>
                                
                                <% }%>
                            </select>
                        </td>
                      
                    </tr>
                    <tr>
                        <td><label>City:</label></td>
                        <td><select id="city" name="City">
                            <% for ( var i=0; i<states.length; i++) { %>
                                <option value="<%=states[i].option_name%>" name="<%=states[i].option_name%>" id="<%=states[i].option_name%>"> <%=states[i].option_name%></option>
                                
                                <% }%>
                            </select>
                        </td>
                        <td><label>Pin code:</label></td>
                        <td><input type="text" name="pincode" class="width">
                        </td>
                     
                        <td><label>Phone Number:</label></td>
                        <td><input type="text" name="num" class="width"> </td>
                        <td><label>Email:</label></td>
                        <td><input type="text" name="email" class="width"> </td>
                    </tr>

                    <tr>
                        <td><label> Choose your gender:</label></td>
                        <td><input type="radio" name="gender" value="male"> male
                            <input type="radio" name="gender" value="female"> female
                            <input type="radio" name="gender" value="other"> other
                            
                        </td>

                        <td><label> Relationship Status:</label></td>
                        <td><select id="list" name="relationlist">
                            <% for ( var j=0; j<status.length; j++) { %>
                                <option value="<%=status[j].option_name%>" name="<%=status[j].option_name%>" id="<%=status[j].option_name%>"> <%=status[j].option_name%></option>
                                
                                <% }%>
                            </select>
                        </td>
                        <td><label>Date Of Birth:</label></td>
                        <td><input type="date" name="dob" class="width"> </td>
                    </tr>
                    <tr>
                        <td><label> Designation:</label></td>
                        <td><textarea name="designation" id="txtarea1" class="width"></textarea>
                        </td>
                    </tr>
                    <tr>
                </table>
            </fieldset>
<!-- Education Details -->

            <fieldset>
                <table border="2" id="tbl1">
                    <tr>
                        <td colspan="8">
                            <h3 style="font-family: Cursive; ">➺ Education Details</h3>
                        </td>
                    </tr>
                    <tr id="tr1">
                        <td><label>Courses Name:</label></td>
                        <td><select id="course" name="coursename">
                            <% for ( var i=0; i<courses.length; i++) { %>
                                <option value="<%=courses[i].option_name%>" name="<%=courses[i].option_name%>" id="<%=courses[i].option_name%>"> <%=courses[i].option_name%></option>
                                
                                <% }%>
                            </select>
                        </td>
                        <td><label>Univercity:</label></td>
                        <td><input type="text" name="univercity" class="width" id="institute"> 
                        </td>

                        <td><label>Passing Year:</label></td>
                        <td><input type="text" name="year" class="width" id="year">
                        </td>
                        <td><label>Percentage:</label></td>
                        <td><input type="text" name="percentage" class="width" id="percentage"> 
                        </td>
                    </tr>

                </table>
                <!-- <input type="button" value="add" onclick="func1()"> -->

                <label>Add Another course details: -> </label><input type="button" name="num" onclick="func1()"
                    value="➕">

            </fieldset>
<!-- Experience Details -->

            <fieldset>
                <table border="2" id="tbl2">
                    <tr>
                        <td colspan="10">
                            <h3 style="font-family: Cursive; ">➺ Experience Details</h3>
                        </td>
                    </tr>
                    <tr id="tr2">
                        <td><label>Company Name:</label></td>
                        <td><input type="text" name="company" class="width" id="company"></td>
                        <td><label>Designation:</label></td>
                        <td><input type="text" name="designation2" class="width" id="designation"><td>
                        <td><label>Start date:</label></td>
                        <td><input type="date" name="startdte" class="width" id="start"></td>
                        <td><label>End date:</label></td>
                        <td><input type="date" name="enddte" class="width" id="end"></td>
                    </tr>

                </table>
                
                <label>Add Another course details: -> </label><input type="button" name="num" onclick="func2()"
                    value="➕">
            </fieldset>
<!-- languages Details -->
             <fieldset>
                <table border="2" id="tbl3">
                    <tr>
                        <td colspan="8">
                            <h3 style="font-family: Cursive; ">➺ languages Details</h3>
                        </td>
                    </tr>
                    <tr id="tr3">
                        
                            <td>Select your languages:</td>
                    </tr>
                    <% for ( var i=0; i<languages.length; i++) { %>
                       <tr>
                         
                        <td>
                            &nbsp;&nbsp;
                            
                            <input type="checkbox" id="languages" name="languages" value="<%=languages[i].option_name%>"><%=languages[i].option_name%>  &nbsp;&nbsp;
                            <input type="checkbox" id="read" value="<%=languages[i].option_name%>" name="read"> Read &nbsp;&nbsp;
                            <input type="checkbox" id="write" value="<%=languages[i].option_name%>" name="write"> Write &nbsp;&nbsp;
                            <input type="checkbox" id="speak" value="<%=languages[i].option_name%>" name="speak"> Speak
                        </td></center>
                    </tr>
                    <% }%>
                </table>

                <!-- <label>Add Another course details: -> </label><input type="button" name="num" onclick="func3()"
                    value="➕"> -->

            </fieldset>
<!--Technologies  Details -->

            <fieldset>
                <table border="2" id="tbl4">

                    <tr>
                        <td colspan="8">
                            <h3 style="font-family: Cursive; ">➺ Technologies Details</h3>
                        </td>
                    </tr>
                    <tr id="tr4">
                        <td>
                            <label>Select your Technologies:</label>
                        </td>
                        </tr>
                        <% for ( var i=0; i<technologies.length; i++) { %>
                        <tr>
                        
                        <td>
                            &nbsp;&nbsp;
                            <input type="checkbox" id="<%=technologies[i].option_name%>" name="technologies" value="<%=technologies[i].option_name%>"><%=technologies[i].option_name%>  &nbsp;&nbsp;
                            <input type="radio" name="<%=technologies[i].option_name%>" value="Beginer"> Beginer &nbsp;&nbsp;
                            <input type="radio" name="<%=technologies[i].option_name%>" value="Mideator"> Mideator &nbsp;&nbsp;
                            <input type="radio" name="<%=technologies[i].option_name%>" value="Expert"> Expert &nbsp;&nbsp;
                            <br> <span id="6" class="bold"></span>
                        </td>

                    </tr>
                    <% }%>
                </table>

                <!-- <label>Add Another course details: -> </label><input type="button" name="num" onclick="func4()"
                    value="➕"> -->
            </fieldset>
<!--References Details -->
            <fieldset>
                <table border="2">
                    <td colspan="8">
                        <h3 style="font-family: Cursive; ">➺ References Details</h3>

                    </td>

                    <tr>
                        <tr>
                            <td colspan="1">
                                <h4>Person 1 details*</h4>
                            </td>
                            <td><label>Name:</label></td>
                            <td><input type="text" name="p1name" class="width"> </td>
                            <td><label>Relation:</label></td>
                            <td><input type="text" name="p1relation" class="width"></td>
                            <td><label>Contact number:</label></td>
                            <td><input type="text" name="p1mobile" class="width"></td>
                        </tr>

                    <tr>
                        <td colspan="1">
                            <h4>Person 2 details*</h4>
                        </td>
                        <td><label>Name:</label></td>
                        <td><input type="text" name="p2name" class="width"> </td>
                        <td><label>Relation:</label></td>
                        <td><input type="text" name="p2relation" class="width"></td>
                        <td><label>Contact number:</label></td>
                        <td><input type="text" name="p2mobile" class="width"></td>
                    </tr>
                </table>
            </fieldset>

            <!--pReferences Details -->
            <fieldset>
                <table border="2">
                    <tr>
                        <td colspan="8">
                            <h3 style="font-family: Cursive; ">➺ Preferences Details</h3>

                        </td>
                    </tr>
                    <tr>
                        <td><label>Prefered Location:</label></td><br>
                        <td>
                            <select id="location" name="location">
                                <% for ( var j=0; j<locations.length; j++) { %>
                                    <option value="<%=locations[j].option_name%>" name="<%=locations[j].option_name%>" id="<%=locations[j].option_name%>"> <%=locations[j].option_name%></option>
                                    
                                    <% }%>  
                                </select>
                        </td>
                        <td><label>Department:</label></td>
                        <td>
                            <select id="department" name="department">
                                <% for ( var i=0; i<departments.length; i++) { %>
                                    <option value="<%=departments[i].option_name%>" name="<%=departments[i].option_name%>" id="<%=departments[i].option_name%>"> <%=departments[i].option_name%></option>
                                    
                                    <% }%>
                                </select>
                        </td>
                        <td><label>Current CTC:</label></td><br>
                        <td><input type="text" name="curctc" class="width"></td>
                        <td><label>Expected CTC:</label></td>
                        <td><input type="text" name="expectctc" class="width" required></td>
                    </tr>


                    <tr>

                        <td colspan="8" align="center"><input type="reset" id="rst" value="reset"
                                style="border-color: black; background-color: rgb(255, 127, 127);">
                            <input type="submit" id="submit" value="submit"
                                style="border-color: black; background-color: rgb(127, 255, 148);">
                        </td>

                    </tr>
                </table>
            </fieldset>


        </form>
    </center>
</body>
<script>
   var count1 = 1;
    var count2 = 1;
    function func1() {
        var table = document.getElementById("tbl1");
        var tr = document.createElement("tr");
        
        tr.innerHTML = `<tr id="tr1">
                        <td><label>Courses Name:</label></td>
                        <td><select id="course" name="coursename">
                            <% for ( var i=0; i<courses.length; i++) { %>
                                <option value="<%=courses[i].option_name%>" name="<%=courses[i].option_name%>" id="<%=courses[i].option_name%>"> <%=courses[i].option_name%></option>
                                
                                <% }%>
                            </select>
                        </td>
                        <td><label>Univercity:</label></td>
                        <td><input type="text" name="univercity" class="width" id="institute"> 
                        </td>

                        <td><label>Passing Year:</label></td>
                        <td><input type="text" name="year" class="width" id="year">
                        </td>
                        <td><label>Percentage:</label></td>
                        <td><input type="text" name="percentage" class="width" id="percentage"> 
                        </td>
                    </tr>`
        table.appendChild(tr)
        
    }
    function func2() {
        var table = document.getElementById("tbl2");
        var tr = document.createElement("tr");
        
        tr.innerHTML = `  <tr id="tr2">
                        <td><label>Company Name:</label></td>
                        <td><input type="text" name="company" class="width" id="company"></td>
                        <td><label>Designation:</label></td>
                        <td><input type="text" name="designation2" class="width" id="designation"><td>
                        <td><label>Start date:</label></td>
                        <td><input type="date" name="startdte" class="width" id="start"></td>
                        <td><label>End date:</label></td>
                        <td><input type="date" name="enddte" class="width" id="end"></td>
                    </tr>
`
        table.appendChild(tr)
        
    }
   
    
</script>
</html>
